@import './reset';

body {
  background-color: #f1f5f8;
}

.lorem {
  width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;

  .title {
    margin-bottom: 30px;
    color: #104e7a;
    font-size: 30px;
    text-transform: uppercase;
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    label {
      margin-right: 8px;
      color: #063251;
      font-size: 20px;
      text-transform: capitalize;
    }

    input {
      width: 70px;
      padding: 6px 12px;
      margin-right: 8px;
      background-color: #fff;
      border-radius: 8px;
    }

    button {
      padding: 6px 12px;
      color: #104e7a;
      background-color: #a5d5f8;
      border-radius: 8px;
      text-transform: uppercase;
    }
  }

  &-text {
    p {
      margin-bottom: 32px;
      color: #617d98;
    }
  }
}
