* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: none;
  background-color: transparent;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}
