@import url('./reset.css');

.menu-button {
  position: fixed;
  top: 32px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #49a6e9;

  animation-name: menu-button;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sidebar {
  position: relative;
  width: 400px;
  height: 100vh;
  padding: 16px;
}

.sidebar .logo {
  width: 236px;
  height: 36px;
}

.sidebar .logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: #bb2525;
}

@keyframes menu-button {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}
