@import url('./reset.css');

.menu-button {
  position: fixed;
  top: 32px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #49a6e9;

  animation-name: menu-button;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sidebar {
  position: relative;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar header {
  padding: 16px 24px;
}

.sidebar .logo {
  width: 236px;
  height: 36px;
}

.sidebar .logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: #bb2525;
}

.sidebar .sidebar-nav {
  flex-grow: 1;
  padding-left: 24px;
}

.sidebar .sidebar-nav .nav-list .nav-item a {
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 24px;
  color: #617e99;
  transition: all 400ms linear;
}

.sidebar .sidebar-nav .nav-list .nav-item a:hover {
  padding-left: 8px;
  color: #49a6e9;
  background-color: #a5d5f8;
}

.sidebar .sidebar-link {
  padding-bottom: 32px;
}

.sidebar .sidebar-link .link-list {
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-link .link-list .link-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  font-size: 24px;
  color: #49a6e9;
}

@keyframes menu-button {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}
