@import url('./reset.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/hero.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  background-color: #fff;
}

.container .title {
  margin-bottom: 30px;
}

.container .modal-button {
  padding: 6px 12px;
  color: #fff;
  background-color: #0081ff;
  border-radius: 4px;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.modal form {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.modal form .close-button,
.modal form .confirm-button {
  padding: 6px 12px;
  color: #fff;
  background-color: #0081ff;
  border-radius: 4px;
}

.modal form .close-button {
  background-color: #333;
}