@import './reset';

.slider-container {
  position: relative;
  width: 80vw;
  height: 40vh;
  margin: 40px auto;
  border: 5px solid #49a6e9;
  border-radius: 8px;
  overflow: hidden;

  .slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #c5e5fc;
    transition: transform 200ms ease-in-out;

    &:nth-child(2n) {
      background-color: rgba($color: #c5e5fc, $alpha: 0.5);
    }
  }
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    font-size: 28px;
    color: #617d98;
    text-transform: capitalize;
  }
}